body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fee7b4, #d7a8ff);
}

.container {
    width: 92%;
    margin: auto;
    padding: 30px 0;
}

.row {
    display: grid;
    gap: 22px;
}

.row1 {
    grid-template-columns: 1fr 1fr 1fr;
}

.row2 {
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.07);
}

.big-number {
    font-size: 50px;
    margin: 10px 0;
    font-weight: bold;
}
.change {
    color: #ff7b31;
    margin-bottom: 18px;
}
.expenses button {
    background: #f2f2f2;
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    cursor: pointer;
}

.customer-box {
    background: #f2f2f2;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}
.customer-box.small {
    opacity: 0.7;
}
.customer-box.active {
    background: #e3ebff;
}
.title {
    font-weight: bold;
}
.customer-stats p {
    margin: 6px 0;
}
.blue { color: #050505; }
.red { color: #ff4e4e; }


.tabs {
    text-align: center;
    margin-bottom: 10px;
}
.tabs span {
    margin: 0 10px;
    opacity: 0.5;
}
.tabs .active {
    opacity: 1;
    font-weight: bold;
}

.circle-container {
    position: relative;
    width: 180px;
    margin: auto;
}
.circle-container img {
    width: 100%;
}
.circle-value {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.circle-subtext {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0.7;
}

.legend {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.blue { background: #4b6bff; }
.orange { background: #ff9a36; }

.file {
    background: #fafafa;
    border-radius: 14px;
    padding: 12px;
    margin-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file a {
    text-decoration: none;
}
.admin {
    opacity: 0.6;
    margin-left: 10px;
}
.tag {
    padding: 5px 12px;
    border-radius: 10px;
    font-size: 12px;
}
.yellow {
    background: #fff4b8;
}
.purple {
    background: #e2d7ff;
}

.overview {
    background: #6a63ff;
    color: white;
}
.line {
    margin: 12px 0;
}
.amount {
    font-weight: bold;
}
.details-link {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
}